
body, html {
  margin: 0;
}

body { 
    text-align: center;
    color:rgb(11, 55, 138) ;
    font-size: 1.5vw;
}

.bg {
    /* The image used */
    background-image: url(Boerderij/background.jpg);
  
    /* Full height */
 

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.container {

  margin-top: 40px;
  margin-bottom: 30px;
  
  
  
}

.wrapper{

    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 10px;
    column-gap: 30px;

  }

.boerderijDier{

    width: 15vw;
    display: block;
    
    border: 2px solid rgb(11, 55, 138);
    border-radius: 5px;
}

 
.boerderijDierNaam{
    
    border: 2px solid rgb(11, 55, 138);
    border-radius: 5px;
    width: 15vw;
    display: block;
    margin-top: 10px;
    background-color: white;
   
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .boerderijDier {
      width: 110px;
    }

    .boerderijDierNaam{

      width: 110px;
    }


  }
